body {
    font-family: Arial, Helvetica, sans-serif;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid black;
    padding: 10px 24px;
}


.logo {
    width: 50px;
    height: 50px;
}

.menu > button{
    background-color: lightgray; 
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.image-content {
    width: 50%;
    height: 25%;
    margin-bottom: 20px;
}

.facilitations{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.facilitations div{
    text-align: center;
}

.circle {
    width: 100px;
    height: 100px;
    border: 2px solid black;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.content {
    font-family: 'Times New Roman', Times, serif;
    flex-direction: row;
    display: flex;
    align-items: flex-start;
}

.data-form {
    flex-direction: column;
    align-items: flex-start;
    display: flex; 
    flex: 1;
}

.data-result {
    display: flex; 
    flex: 1;
}

input[type=text], textarea {
    width: 50%;
    margin: 10px;
    border: 1px solid #c4c4c4;
    border-radius: 4px;
    resize: vertical;
}

input[type=radio]{
    margin: 10px;
}

input[type=date]{
    margin: 10px;
}

textarea {
    margin: 10px;
}

  input[type=submit] {
    background-color: lightgray;
    color: black;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: left;
}

.data-result{
    margin: 8px;
}

footer {
    display: flex;
    justify-content: flex-end;
}