body {
    font-family: Arial, Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth;
}

p {
    text-align: justify;
}

@media only screen and (max-width: 600px){
    .header-wrapper {
        flex-direction: column;
    }

    .menu {
        display: flex;
        flex-direction: column;
        padding: 5px;
        width: 100%;
        margin-bottom: 10px;
    }

    .content {
        flex-direction: column;
        width: 100%;
    }

    .col-25, .col-75, input[type=submit]{
        width: 100%;
        margin-top: 0;
    }

    .visimisi{
        flex-direction: column;
    }
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid black;
    padding: 10px 24px;
}

.logo {
    width: 50px;
    height: 50px;
}

.menu {
    display: flex;
}

.menu > button {
    border: none;
    justify-content: space-around;
    background-color: lightblue;
    color: black;
    border-radius: 4px;
    cursor: pointer;
    padding: 15px 25px;
    margin: 4px;
}

.button-profile {
    font-size: small;
    text-align: center;
    background-color: lightblue;
    color: black;
    border-radius: 4px;
    cursor: pointer;
    padding: 15px 25px;
    text-decoration: none;
}

.slider-img {
    width: 100%;
    margin-bottom: 20px;
}

.facilitations{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.facilitations div{
    text-align: center;
}

.circle {
    width: 100px;
    height: 100px;
    border: 2px solid black;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.content {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
}

.data-form {
    flex-direction: column;
    align-items: flex-start;
    flex: 1;    
    margin: 10px;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.message-form{
    flex: 1;
    margin: 10px;
    align-items: flex-start;
    border-radius: 5px;
    background-color: #f2f2f2;
}

.data-result{
    margin-left: 10px;
}

input[type=text] {
    width: 98%;
    padding: 12px;
    border: 1px solid #c4c4c4;
    border-radius: 4px;
    resize: vertical;
}

textarea {
    width: 100%;
    height: 200px;
    border: 1px solid #c4c4c4;
    border-radius: 4px;
    resize: vertical;
}

input[type=submit] {
    background-color: lightgray;
    text-align: center;
    color: black;
    padding: 10px;
    border: none;
    width: 100%;
    border-radius: 4px;
    cursor: pointer;
    float:right;
}

input[type=submit]:hover {
    background-color: #45a049;
  }

.col-25 {
    float: left;
    width: 20%;
    margin-top: 6px;
}
  
.col-75 {
    float: right;
    width: 76%;
    margin-top: 6px;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.visimisi{
    display: flex;
}

.misi {
    list-style-type:circle;
}

footer {
    display: flex;
    justify-content: flex-end;
    background-color: lightskyblue;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}